@*
	/*
		Created By Gene Kochanowsky
	*/
*@
@inject SCRUD.Models.SelectLists SL
@model SCRUD.Models.Person

@{
	string formID = Model.formView.Replace("_", "-") + "-frm";
	string headerStr = Model.PersonId == 0 ? "Create" : "Edit";
	string funcSave = "Save_" + Model.formView.Replace("-", "_");
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" onclick="return CloseDialog('@Model.formView');">&times;</button>
			<h2 style="color:blue"><span class="glyphicon glyphicon-edit"></span> @headerStr Received</h2>
		</div>
		<div class="modal-body">
			<form asp-action="Create">
				<div class="form-horizontal">
					<h4>Person</h4>
					<hr />
					<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="DoB" class="col-md-2 control-label"></label>
						<div class="col-md-10">
							<input asp-for="DoB" class="form-control" />
							<span asp-validation-for="DoB" class="text-danger" />
						</div>
					</div>
					<div class="form-group">
						<label asp-for="FirstName" class="col-md-2 control-label"></label>
						<div class="col-md-10">
							<input asp-for="FirstName" class="form-control" />
							<span asp-validation-for="FirstName" class="text-danger" />
						</div>
					</div>
					<div class="form-group">
						<label asp-for="GenderID" class="col-md-2 control-label"></label>
						<div class="col-md-10">
							<select asp-for="GenderID" class="form-control"></select>
						</div>
					</div>
					<div class="form-group">
						<label asp-for="LastName" class="col-md-2 control-label"></label>
						<div class="col-md-10">
							<input asp-for="LastName" class="form-control" />
							<span asp-validation-for="LastName" class="text-danger" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Create" class="btn btn-default" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
		function @funcSave (btn) {
			PostDialog('@Model.formView', '@formID')
		}
</script>