@model SCRUD.Models.ISCRUDview

@{ 
	string action = ViewContext.RouteData.Values["action"].ToString();
}

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-body">
			@Html.Partial(action, Model)
		</div>
	</div>
</div>